<% if User.current.admin? %>
    <p>
      <% learning_project = Project.find_by_id(Setting.plugin_redmine_kpi['learning_project']) %>
      <% learning_tracker = Tracker.find_by_id(Setting.plugin_redmine_kpi['learning_tracker']) %>
      <% if learning_project && learning_tracker %>
          <% if @issue.tracker == learning_tracker %>
            <p id="time_entry_original_task">
              <%= form.text_field :hour_approved %>
        <% end %>
    <% end %>
    </p>
<% end %>