<h1>
  Presales
</h1>
<hr/>
<p>
<span style="font-size: 44px; color: <%= presales_point > 0 ? 'green' : 'red' %>" >
  <%= presales_point %>
</span>
</p>

<h4 style="margin-top: 25px">
  Target: <%= presales_point_target %>
</h4>